<?xml version="1.0"?>

<launch>

  <!-- Arg to remap the scan topic -->
  <arg name="scan_topic" default="robot/scan" />
   
  <!--- Run gmapping -->
  <include file="$(find navigation_tools)/launch/gmapping.launch">
    <arg name="scan_topic" value="$(arg scan_topic)" />
  </include>

  <!--- Run Move Base -->
  <include file="$(find navigation_tools)/launch/move_base.launch" />

</launch>
